.ipynb_checkpoints/
__pycache__/
*.swp
.env
.pylintrc
.devcontainer/
dataset.pkl
minipile.jsonl
mingpt.sqsh
datasets
processed_minipile.pkl
checkpoints/davis_*
build/*
minGPT.egg-info/
losses.txt
output_results.txt
git_diff.txt